body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

main {
  background-color: white;
}

.img {
  width: 100%;
  height: 170px;
}

a {
  text-decoration: none;
  color: black;
}

#logo {
  width: 50%;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 70px;
  object-fit: cover;
}

.search {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #dedede;
  height: 45px;
}

#icon-location {
  margin-right: 10px;
}

#input-search {
  border: #dedede;
  background-color: #dedede;
}

.presentation {
  text-align: center;
}

.presentation h2 {
  margin-top: 2rem;
  font-size: 2rem;
}

.presentation p {
  margin-bottom: 10px;
}

.presentation button {
  background-image: linear-gradient(to top, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
  color: white;
  font-weight: 300;
  font-size: 1rem;
  padding: 1rem 2rem;
  border: none;
  border-radius: 2rem;
  box-shadow: 2px 1px 7px -3px;
  transition: all 200ms;
  margin-top: 20px;
}

.presentation button:hover {
  cursor: pointer;
  transform: scale(1.02);
  opacity: 0.9;
}

.functioning {
  background-color: #ffffff;
}

.title-fonctioning {
  margin-left: 20px;
  margin-top: 40px;
  margin-bottom: 20px;
}

.btn-1:hover {
  background: #fface8;
}

.fct {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.btn-2 {
  width: 100%;
  height: 65px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 1px solid #dedede;
  border-radius: 25px;
  background-color: #f2f2f2;
  box-shadow: 10px 10px 10px #dedede;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.btn-2:hover {
  background-color: #FF79DA;
}

.icon {
  margin-right: 20px;
}

.title-btn-2 {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
}

.number {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border: 1px solid #9356DC;
  background-color: #9356DC;
  border-radius: 50% 50% 50% 50%;
  color: white;
  margin-left: 20px;
  margin-bottom: 10px;
  position: absolute;
  left: -1%;
}

.restaurants {
  width: 100%;
  background-color: #F6F6F6;
  margin-top: 50px;
  padding-bottom: 40px;
}

.title-cards {
  margin: unset;
  margin-left: 20px;
  padding-top: 60px;
  padding-bottom: 20px;
}

.card {
  height: 250px;
  width: 93%;
  background: #ffffff;
  border-radius: 20px;
  box-shadow: 10px 10px 20px #dedede;
  margin-bottom: 20px;
  margin-left: 10px;
}

.img {
  width: 100%;
  height: 175px;
  object-fit: cover;
  border-radius: 20px 20px 0px 0px;
  object-fit: cover;
  position: relative;
}

.superpostion {
  position: relative;
}

.text-over {
  color: green;
  font-weight: 600;
  text-align: center;
  width: 80px;
  height: 25px;
  position: absolute;
  background: #99E2D0;
  left: 75%;
  top: 5%;
}

.title-card {
  margin-top: 10px;
  margin-left: 15px;
  margin-bottom: 5px;
}

.text-heart {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.heart {
  margin-right: 40px;
  font-size: larger;
}

.name {
  margin: 0px;
  margin-left: 15px;
  font-weight: 300;
}

footer {
  width: 100%;
  height: 190px;
  background: #343434;
  color: white;
  margin-top: 40px;
}

.footer-items {
  margin-left: 20px;
}

.title-logo {
  font-family: Shrikhand;
  font-size: large;
  margin-left: 35px;
  padding-top: 20px;
}

p {
  margin-bottom: 3px;
}

.contact {
  color: white;
}

.list {
  display: flex;
  flex-direction: row;
  margin-bottom: 5px;
}

.icon-foot {
  margin-right: 10px;
}

@media screen and (min-width: 992px) {
  #logo {
    width: 40%;
    margin-left: 350px;
  }
  .search {
    width: 100%;
    height: 100px;
  }
  #input-search {
    font-size: 25px;
  }
  .fcts {
    display: flex;
  }
  .fct {
    width: 50%;
    position: relative;
  }
  .title-presentation {
    width: 100%;
    font-size: 40px;
    display: flex;
    justify-content: center;
    margin-bottom: 0px;
  }
  .text {
    width: 100%;
    font-size: 30px;
  }
  h1 {
    text-align: center;
    font-size: 40px;
    padding-bottom: 20px;
  }
  .functioning {
    display: flex;
    flex-direction: column;
  }
  .btn-1 {
    width: 30%;
    height: 80px;
    margin-bottom: 50px;
    font-size: 15px;
  }
  .title-btn-1 {
    font-size: 25px;
    flex-wrap: nowrap;
  }
  .btn-2 {
    height: 100px;
  }
  .title-btn-2 {
    font-weight: 500;
  }
  .number {
    width: 35px;
    height: 35px;
    position: absolute;
    left: -10px;
  }
  .text-over {
    left: 60%;
  }
  .btn-2:hover {
    background-color: #FF79DA;
  }
  .cards {
    display: flex;
  }
  .footer-items {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
  }
  .title-logo {
    text-align: center;
    font-size: 30px;
  }
  .list {
    font-size: 18px;
  }
  .contact {
    font-size: 18px;
  }
}
/* pages menu */
body {
  background-color: #F6F6F6;
  margin: 0px;
}

.title-principal {
  font-family: Shrikhand;
  text-align: center;
  margin-bottom: 0px;
  flex-grow: 1;
  margin-top: 0px;
}

.arrow {
  margin-left: 20px;
}

header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.img-resto {
  display: block;
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.title-menu {
  background-color: #F6F6F6;
  font-family: Shrikhand;
  font-size: 300;
  margin-left: 15px;
}

.title-heart {
  background-color: #F6F6F6;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  border-radius: 2rem 2rem 0 0;
}

.heart {
  margin-bottom: 20px;
}

.resto-main {
  background-color: #F6F6F6;
  margin-top: -2rem;
}

.empty {
  padding-left: 10px;
}

.full {
  padding-left: 10px;
}

h4 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 600;
  margin: inherit;
}

p {
  font-weight: 300;
  margin: 0px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

h3 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 300;
  font-size: 16px;
  margin-top: 10px;
  padding-bottom: 10px;
  border-bottom: 2px solid #99E2D0;
  margin-left: 10px;
  width: 30px;
}

.prix {
  font-weight: 600;
  margin-right: 10px;
}

.order {
  height: 10vh;
  display: grid;
  place-items: center;
  margin-top: 20px;
}

.order button {
  background-image: linear-gradient(to top, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
  color: white;
  font-weight: 300;
  font-size: 1rem;
  padding: 1rem 2rem;
  border: none;
  border-radius: 2rem;
  box-shadow: 2px 1px 7px -3px;
  transition: all 200ms;
  margin-top: 20px;
}

.order button:hover {
  cursor: pointer;
  transform: scale(1.02);
  opacity: 0.9;
}

.menus {
  grid-template-columns: 1fr;
  background-color: #F6F6F6;
}
.menus .menus-category {
  background-color: #F6F6F6;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.menus p {
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.menus .menu-item {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: flex;
  border-radius: 20px;
  box-shadow: 2px 1px 8px -3px #000000;
  background-color: white;
  animation: appear 2s;
  animation-fill-mode: both;
}
.menus .menu-item:nth-child(1) {
  animation-delay: 100ms;
}
.menus .menu-item .description {
  padding: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.menus .menu-item .prix {
  max-width: 100%;
  display: flex;
  align-self: flex-end;
  margin-left: auto;
  font-weight: 700;
  padding: 1rem;
}
.menus .menu-item .animation {
  background-color: #99E2D0;
  margin-right: -4rem;
  width: 4rem;
  border-radius: 0 1rem 1rem 0;
  transition: margin-right 0.5s;
  display: flex;
  justify-content: center;
  place-items: center;
}
.menus .menu-item .checky {
  display: grid;
  place-items: center;
  background: white;
  width: 2rem;
  aspect-ratio: 1;
  border-radius: 1rem;
  color: #99E2D0;
}
.menus .menu-item:hover {
  cursor: pointer;
}
.menus .menu-item:hover .animation {
  margin-right: 0;
}
.menus .menu-item:hover .checky {
  animation: quarter-spin 0.5s ease-in-out;
}
.menus .menu-item:nth-child(2) {
  animation-delay: 200ms;
}
.menus .menu-item .description {
  padding: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.menus .menu-item .prix {
  max-width: 100%;
  display: flex;
  align-self: flex-end;
  margin-left: auto;
  font-weight: 700;
  padding: 1rem;
}
.menus .menu-item .animation {
  background-color: #99E2D0;
  margin-right: -4rem;
  width: 4rem;
  border-radius: 0 1rem 1rem 0;
  transition: margin-right 0.5s;
  display: flex;
  justify-content: center;
  place-items: center;
}
.menus .menu-item .checky {
  display: grid;
  place-items: center;
  background: white;
  width: 2rem;
  aspect-ratio: 1;
  border-radius: 1rem;
  color: #99E2D0;
}
.menus .menu-item:hover {
  cursor: pointer;
}
.menus .menu-item:hover .animation {
  margin-right: 0;
}
.menus .menu-item:hover .checky {
  animation: quarter-spin 0.5s ease-in-out;
}
.menus .menu-item:nth-child(3) {
  animation-delay: 300ms;
}
.menus .menu-item .description {
  padding: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.menus .menu-item .prix {
  max-width: 100%;
  display: flex;
  align-self: flex-end;
  margin-left: auto;
  font-weight: 700;
  padding: 1rem;
}
.menus .menu-item .animation {
  background-color: #99E2D0;
  margin-right: -4rem;
  width: 4rem;
  border-radius: 0 1rem 1rem 0;
  transition: margin-right 0.5s;
  display: flex;
  justify-content: center;
  place-items: center;
}
.menus .menu-item .checky {
  display: grid;
  place-items: center;
  background: white;
  width: 2rem;
  aspect-ratio: 1;
  border-radius: 1rem;
  color: #99E2D0;
}
.menus .menu-item:hover {
  cursor: pointer;
}
.menus .menu-item:hover .animation {
  margin-right: 0;
}
.menus .menu-item:hover .checky {
  animation: quarter-spin 0.5s ease-in-out;
}

@media screen and (min-width: 992px) {
  .menus-category {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .order {
    height: 10vh;
  }
}
.empty {
  position: absolute;
}

.full {
  position: absolute;
  opacity: 0;
  transition-property: all;
  transition-duration: 2s;
}

.full:active {
  opacity: 1;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: linear-gradient(#FF79DA, #9356DC);
}

.loader {
  background-color: white;
  height: 100vh;
  position: fixed;
  display: grid;
  place-items: center;
  inset: 0;
  z-index: 1;
  opacity: 0.9;
  animation: disappear 200ms 3s forwards;
  transform-origin: top;
}
.loader::after {
  content: "";
  height: 100px;
  width: 100px;
  border-right: 5px solid #FF79DA;
  border-left: 5px solid #99E2D0;
  border-top: 5px solid #9356DC;
  border-radius: 50%;
  animation: spin 1s ease-in-out;
  animation-iteration-count: 3;
}

@keyframes disappear {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
@keyframes quarter-spin {
  0% {
    transform: rotate(-270deg);
  }
  100% {
    transform: rotate(0);
  }
}
@keyframes appear {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
/*# sourceMappingURL=style.css.map */

/*# sourceMappingURL=style.css.map */
