/* pages menu */
body{
  background-color:$lightergrey;
}
.resto-main{
  height: 900px;
}

  .title-principal{
    font-family: Shrikhand;
    text-align: center;
    margin-bottom: 0px;
    flex-grow:1;
    margin-top: 0px;
  }
  .arrow{
    margin-left: 20px;
  }
  header{
    display: flex;
    justify-content:flex-start;
    align-items: center;
  }
  .img{
    border-radius: 0px;
    position: relative;
  }
  .title-menu{
    background-color: $lightergrey;
    font-family: Shrikhand;
    font-size:300;
    margin-left: 15px;
  }
  

  .title-heart{
    background-color: $lightergrey;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
  }
  
  .heart{
    margin-bottom: 20px;
  
  }
   .empty {
    padding-left: 10px;
   }
   .full{
    padding-left: 10px;
   }
  h4{
    font-family: $font-texte;
    font-weight: 600;
    margin: inherit;
  
  }
  p{
    font-weight: 300;
    margin: 0px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    }
  h3{
    font-family: $font-texte;
    font-weight: 300;
    font-size: 16px;
    margin-top: 10px;
    padding-bottom: 10px;;
    border-bottom: 2px solid $terciary-color;
    margin-left: 10px;
    width:30px;
  }
  .prix{
    font-weight: 600;
    margin-right: 10px;
  }
  
  .order{
    height: 10vh;
    display: grid;
    place-items: center;
    
  }
  .order button{
    background-image:$button-gradient;
    color: white;
    font-weight: 300;
    font-size:1rem ;
    padding: 1rem 2rem;
    border: none;
    border-radius: 2rem;
    box-shadow: 2px 1px 7px -3px;
    transition: all 200ms;
    margin-top: 20px;
    
  }
  .order button:hover{
    cursor: pointer;
    transform: scale(1.02);
    opacity: 0.9;
    } 
  
  .menus{
    grid-template-columns: 1fr;
    background-color:$lightergrey;

    .menus-category{
      background-color:#F6F6F6;
      border-radius: 20px;
      overflow: hidden;
      
      }
      
      p{
        margin: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      .menu-item{
        white-space:nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        display: flex;
        border-radius: 20px;
        box-shadow: 2px 1px 8px -3px #000000;
        background-color: white;
        animation: appear 1s;
        animation-fill-mode: both;
        @for $i from 1 to 4 {
          &:nth-child(#{$i}){
            animation-delay: 100ms * $i;
          }
          
        .description{
          padding: 1rem;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
        .prix{
          display: flex;
          align-self: flex-end;
          margin-left: auto;
          font-weight: 700;
          padding: 1rem;
        }
        
        .animation{
          $button-width:4rem;
          background-color: $terciary-color;
          margin-right: -1 *$button-width;
          width: $button-width;
          border-radius: 0 1rem 1rem 0;
          transition:margin-right 0.5s;
          display: flex;
          justify-content: center;
          place-items: center;
        
        }
        .checky{
          display:grid;
          place-items: center;
          background: white;
          width: 2rem;
          aspect-ratio: 1;
          border-radius: 1rem;
          color:$terciary-color;
        }
        
        &:hover{
          cursor: pointer;
          .animation{
            margin-right: 0;
          }
          .checky{
            animation: quarter-spin 0.5s ease-in-out;
          }
    }

      }
    }
}
   

  
  .resto-main{
  padding:0 1rem;
  background-color:$lightergrey;
  }
  
  
  @media screen and (min-width:992px){
    
    .resto-main{
      height:800px
    }
    .menus{
    display: grid;
    flex-direction:row;
    grid-template-rows: repeat(3, 1fr);
    gap: 1rem;
      
    }
    .menus-category{
      display:flex;
      flex-direction: row;
      justify-content: space-between;
      
    }
    .order{
      height: 30vh;
    }
    
    }
    
  
