.empty{
    position: absolute;
  }
  .full{
    position: absolute;
    opacity: 0;
    transition-property: all;
    transition-duration: 2s;
  }
  .full:hover{
    opacity: 1;
    color:transparent ;
    background-clip: text;
    -webkit-background-clip:text;
    background-image:linear-gradient($secondary-color,$primary-color)
  }
  
  .check{
    background-color:transparent;
  width: 0%;
  transform: scale(0);
    transition-property:all;
    transition-duration: 3s;
  }
  .price:hover + .check{
    background-color: $terciary-color;
    width: 50px;
    height: 50px;
    transform: scale(1.2);

  }